@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');

body{
    scroll-behavior: smooth;
    margin: 0;
    padding-bottom: 100px;
    display: flex;
    background-image: url(https://raw.githubusercontent.com/haha794uguisu/photos/refs/heads/main/img/p0527_l.jpg);
}

#above{
    display: block;
    position: fixed;
    bottom: 0;
    padding: 1%;
    margin: 10px;
    border-radius: 20px;
    background-color: #ffffff90;
    z-index: 1000;
    transition: all 0.3s ease;
}

#above:hover{
    background-color: #ffffffc0;
}

#containerA{
    overflow: hidden;
    display: inline-block;
    width: 75%;
}

.head_img{
    text-align: center;
    margin: 50px 0 50px 0;
    background-color: white;
    margin: 1%;
    padding: 1%;
    width: 96%;
}

[id^="sub"]{
    background-color: #f4f4f4;
    margin: 0.83%;
    padding: 0.83%;
    display: inline-block;
    width: 30%;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
}

[id^="containerB"]{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    line-height: 0;
    vertical-align: bottom;
}

.a{
    width: 100%;
    cursor: pointer;
    transition: all 0.3s ease;
}
.a:hover{
    transform: scale(1.2);
}

.name{
    line-height: 0%;
    font-size: clamp(5px, 3vw, 23px);
    font-weight: 500;
    text-align: center;
}

.date{
    line-height: 0%;
    font-size: clamp(5px, 2.5vw, 15px);
    font-weight: 400;
    text-align: center;
}

.control{
    position: fixed;
    background-color: white;
    margin-left: 75%;
    width: 25%;
    height: 100%;
    padding: 3%;
}

.line{
    display: flex;
    align-items: center;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
    font-size: 18px;
}
.checkbox{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
