@import url('https://fonts.googleapis.com/css2?family=Sawarabi+Gothic&display=swap');
body{
    margin: 0;
    background-image: url(https://raw.githubusercontent.com/haha794uguisu/photos/refs/heads/main/img/p0527_l.jpg);
}

.containerA{
    width: 100%;
}

[id^="sub"]{
    background-color: #f4f4f4;
    margin: 0.83%;
    padding: 0.83%;
    display: inline-block;
    width: 30%;
    font-family: "Sawarabi Gothic", sans-serif;
    font-style: normal;
}

[id^="containerB"]{
    overflow: hidden;
    display: inline-block;
    width: 100%;
    line-height: 0;
    vertical-align: bottom;
}

.a{
    width: 100%;
    transition: all 0.3s ease;
}
.a:hover{
    transform: scale(1.2);
}

.name{
    line-height: 0%;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
}
.date{
    line-height: 0%;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}